.stockSelector_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.stockSelector_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #999999;
    width: 100%;
    
}
  
.stockSelector_left {
    position: absolute;
    left: 1rem;
}
  
.stockSelector_center {
    font-weight: bold;
    text-align: center;
}

.stockSelector_search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 1px solid #999999;
    width: 90%;
}

.stockSelector_searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 0.2rem;
    width: 100%;
}
.stockSelector_searchBox input {
    width: 100%;
    outline: none;
}

.stockSelector_miniStockList {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    overflow-y: auto;
}