.inquiry_container {
    max-width: 1440px;
    min-width: 1100px;
    width: 100vw;
    margin: 0 auto; 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #999999;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}
.title span {
    font-size: 1rem;
    font-weight: normal;
}

.inquiry-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px; 
}
.inquiry-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgba(118, 118, 128, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}
.inquiry-title {
    font-weight: bold;
}
.inquiry-date {
    font-size: 13px;
    color: #999999;
}

.inquiry-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.inquiry-status {
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 10px;
}
.status-pending {
    color: #ffffff;
    background-color: #999999;
}
.status-completed {
    color: #ffffff;
    background-color: #000000;
}

.inquiry-button {
    background-color: #006ADD;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 8px;
  }
  
  .pagination button {
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button.active {
    background-color: #0070f3;
    color: white;
    font-weight: bold;
  }
  
  .pagination button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
  }
  
  .no-inquiry {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    color: #777;
}

  .loginOverlay {
    width: 90%;
    background: rgba(255,255,255,0.95);
    padding: 24px 32px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 10;
  }
  .loginBtn {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #007aff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.85rem;
  }
